
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Dancing Script", cursive;
    --primary-color: #c7e4e4;
    --secondary-color: #f9b869;
    --tertiary-color: #f4e699;
    --accent1-color: #d2cabf;
    --accent2-color: #d40e0e;
    --nav-color: black;
    --nav-a-border-color: #8e3904;
    --nav-background-color: #fca588;
    --nav-hover-link-color: #e8fd60;
    --nav-hover-background-color: #fe7789;
    --nav-visited-link-color: black;
    --aside-color: #dcf5e3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 16px;
    max-width: 100%;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    max-width:2200px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 450;
    grid-template-areas:
        "header"
        "trivia"
        "main"
        "footer";
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

header {
    width: 100%;
    background: var(--tertiary-color);
    grid-area: header;
    transition: all 0.3s ease-in-out;
}

.favicon {
    width: 90px;
    height: 110px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 3.5rem;
    font-weight: 300;
    padding: 3rem;
    text-align: center;
    background: var(--tertiary-color);
    transition: all 0.3s ease-in-out;
}

h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 100;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

nav {
    box-sizing: border-box;
    background-color: var(--nav-background-color);
    width: 100%;
    transition: all 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

nav li {
    list-style: none;
    margin: 0.5rem 0;
}

nav a {
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: var(--heading-font);
    color: var(--nav-color);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

nav a:hover {
    border: var(--nav-a-border-color) 3px solid;
    border-radius: 5px;
    text-decoration: none;
    color: var(--nav-hover-link-color);
}

nav a:visited {
    color: var(--nav-visited-link-color) !important;
}

#random-trivia {
    grid-area: trivia;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    text-align: right;
    font-weight: 200;
    background: var(--accent1-color);
    transition: all 0.3s ease-in-out;

}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 0.8rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
}

section.welcome-message {
    padding: 1rem;
    border: 2px solid var(--accent1-color);
}

section.welcome-message p {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    text-align: left;
    padding: 0.5rem;
    font-weight: 200;
    transition: all 0.3s ease-in-out;
}

.rabbit-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    grid-auto-rows: 250px;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
}

.rabbit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    border: 5px solid var(--accent1-color);
    transition: all 0.3s ease-in-out;
}

aside {
    background: var(--aside-color);
    padding: 5rem;
    border: 2px solid var(--accent1-color);
    list-style: none;
    margin: 0;
}

aside li {
    list-style: none;
    margin: 1.5rem 0;
}

aside a {
    color: var(--nav-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 200;
    list-style: none;
}

aside h2 {
    text-align: center;
    font-family: var(--heading-font);
    padding: 0.5rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

aside ul li a {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}

#submittedData {
    display: none; /* Hidden by default */
    padding: 1rem;
    background-color: #f0f0f0;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
}

#submittedData h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--accent2-color);
}
footer {
    padding: 1rem;
    width: 100%;
    background: var(--accent1-color);
    color: var(--nav-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

footer p {
    font-family: var(--heading-font);
    font-size: 1rem;
    font-weight: 200;

}

aside form {
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
}

aside form h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

aside form label {
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;
    font-family: var(--heading-font);
}

aside form input,
aside form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    font-family: var(--paragraph-font);
    list-style: none;
}

aside form button {
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 2px solid var(--accent1-color);
    color: black;
    font-family: var(--heading-font);
    cursor: pointer;
}

aside form nav a {
    list-style: none;
}

aside form button:hover {
    background-color: var(--nav-hover-background-color);
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 1rem;
    margin-top: -3rem;
}

.social-icon {
    color: #8e3904;
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: #0073b1;
    /* LinkedIn color */
}

a.blurb {
    display: block;
    text-align: center;
    margin-top: 5rem;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.hamburger-menu {
    display: none;
    /* Hidden by default */
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.hamburger-menu::before {
    content: '☰';
    color: red;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

.hamburger-menu.active::before {
    content: '✖';
    color: red;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    header h1 {
        font-size: 1.5rem;
        font-weight: 200;
    }

    nav ul li {
        list-style: none;
        margin: 0.5rem 0;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--nav-background-color);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem;
        z-index: 1000;
    }

    nav.navigation ul {
        list-style: none;
        /* Removes bullet points */
        padding: 0;
        /* Removes default padding */
        margin: 0;
        /* Removes default margin */
    }

    nav ul.show {
        display: flex;
    }

    body {
        grid-template-rows: auto auto auto auto;
    }

    main {
        grid-template-columns: 1fr;
    }

    .rabbit-cards {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0.5rem;
        grid-auto-rows: 150px;
    }

    .rabbit-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    aside {
        margin-top: 1rem;
    }

    footer {
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;
    }

    #random-trivia {
        font-size: 1rem;
        text-align: center;
    }
}
