@import url('http://127.0.project\fonts\poppins\Comic_Neue,Poppins\Poppins\Poppins-Regular.ttf.1:5501/project/styles/fonts/poppins-v22-latin-regular.woff2://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Dancing Script", cursive;
    --primary-color: #c7e4e4;
    --secondary-color: #f9b869;
    --tertiary-color: #f4e699;
    --accent1-color: #d2cabf;
    --accent2-color: #d40e0e;
    --nav-color: black;
    --nav-a-border-color: #8e3904;
    --nav-background-color: #fca588;
    --nav-hover-link-color: #e8fd60;
    --nav-hover-background-color: #fe7789;
    --nav-visited-link-color: black;
    --aside-color: #dcf5e3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    max-width: 2200px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 450;
    grid-template-areas:
        "header"
        "trivia"
        "main"
        "footer";
    }

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

header {
    width: 98%;
    background: var(--tertiary-color);
    box-sizing: border-box;
    padding: 1.5vw;
    grid-area: header;
    transition: all 0.3s ease-in-out;
}

.favicon {
    width: 80px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing as needed */
    vertical-align: middle; /* Align the favicon vertically with the text */
}


h1 {
    font-weight: 100;
    font-style: normal;
    font-size: 3vw;
    margin: 1.5vw;
    text-align: center;
    background: var(--tertiary-color);
    transition: all 0.3s ease-in-out;
}

h2 {
    font-size: 25vw;
    font-weight: 200;
    text-align: center;
    margin: 1.5vw;
    transition: all 0.3s ease-in-out;
}

nav {
    box-sizing: border-box;
    background-color: var(--nav-background-color);
    padding: 1vw;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

nav a {
    display: block;
    font-size: 1.5vw;
    font-weight: 300;
    font-family: var(--heading-font);
    color: var(--nav-color);
    text-align: center;
    padding: 0.3vw;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

nav a:hover {
    border: var(--nav-a-border-color) 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: var(--nav-hover-link-color);
}

nav a:visited {
    color: var(--nav-visited-link-color) !important;
}

#random-trivia {
    grid-area: trivia;
    max-width: 2200px;
    margin-bottom: 1vw;
    font-size: 0.5vw;
    font-family: var(--heading-font);
    text-align: right;
    font-style: italic;
    font-weight: 200;
    transition: all 0.3s ease-in-out;
    width: 98%;
    background: var(--accent1-color);
}

main {
    max-width: 2200px;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: .8vw;
    width: 98%;
    padding-top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    grid-area: main;
    max-width: 2200px;
    transition: all 0.3s ease-in-out;
}

.rabbit-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    transition: all 0.3s ease-in-out;
}

.rabbit-card a {
    display: block;
    text-align: center;
    background: var(--accent1-color);
    color: var(--nav-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.5vw;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.rabbit-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 5px solid var(--accent1-color);
    /* Add border to images */
}

aside {
    background: var(--aside-color);
    padding: 1vw;
    margin: 0 auto;
    border: 2px solid var(--accent1-color);
    /* Add border to aside */
}

aside a {
    color: var(--nav-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.5vw;
    font-weight: 300;
}

aside h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 3vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}

aside p {
    font-family: var(--paragraph-font);
    font-size: 2.5vw;
    margin-bottom: 1vw;
    text-align: center;
}

aside ul {
    font-family: var(--heading-font);
    list-style: none;
    /* vwove bullet points */
    padding: 0;
    margin: 0;
}

aside ul li {
    margin-bottom: 1vw;
    /* Add space between links */
}

aside ul li a {
    display: block;
    padding: 0.5vw 0;
    /* Add padding around the links */
    text-decoration: none;
    /* remove underline */
    color: var(--nav-color);
    /* Set link color */
}

aside ul li a:hover {
    color: var(--nav-hover-link-color);
}

footer {
    width: 98%;
    background: var(--accent1-color);
    color: var(--nav-color);
    text-align: center;
    padding: 1vw;
    margin-top: 1vw;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--accent1-color);
    box-sizing: border-box;
}

aside form {
    margin-right: 0 auto;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
}

aside form label {
    text-align: center;
    margin-top: 1vw;
    font-weight: 300;
    font-family: var(--heading-font);
}

aside form input,
aside form textarea {
    padding: 0.5vw;
    margin-top: 0.5vw;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    font-family: var(--paragraph-font);
}

aside form button {
    margin-top: 1vw;
    padding: 0.5vw;
    font-size: 1.5vw;
    
    background-color: var(--secondary-color);
    border-radius: 5px;
    border-color: var(--accent1-color);
    color: white;
    font-family: var(--heading-font);
    cursor: pointer;
}

aside form button:hover {
    background-color: var(--nav-hover-background-color);
}

.hamburger-menu {
    display: none;
    font-size: 2vw;
    cursor: pointer;
}

a:-webkit-any-link {
    color: var(--nav-color);
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--nav-background-color);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1vw;
    }

    nav ul.show {
        display: flex;
    }

    h1 {
        font-size: 1vw;
    }

    body {
        grid-template-rows: auto auto auto auto;
    }

    main {
        grid-template-columns: 1fr;
    }

    .rabbit-cards {
        grid-template-columns: 1fr;
    }

    aside {
        margin-top: 1vw;
    }
}