@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;1,500&display=swap');

:root {
    --primary-color: #ebe0d8;
    --secondary-color: #e4a150;
    --tertiary-color: #f4e699;
    --accent1-color: #000000;
    --accent2-color: #d40e0e;
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Dancing Script", cursive;
    --nav-color: black;
    --nav-hover-link-color: #8e3904;
    --nav-hover-background-color: #fbb198;
    --nav-visited-link-color: #9e0570;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    min-height: 10rem;
    transition: all 0.3s ease-in-out;
}

.header-content {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.header-image {
    width: 20.5em;
    height: 23.75em;
    max-width: 100%;
    margin: 2rem 3rem -7em 4rem;
    transition: all 0.3s ease-in-out;
}

.header-text {
    font-size: 1.9rem;
    margin-bottom: -5rem;
    font-family: var(--heading-font);
    transition: all 0.3s ease-in-out;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0.5rem;
    margin: 0 auto;
    font-family: var(--heading-font);
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

nav a {
    text-decoration: none;
    color: var(--nav-color);
    white-space: nowrap;
    font-size: 1.05rem;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

button.menu {
    display: none;
}

button.filter-btn,
a.filter-btn {
    text-decoration: none;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

a.button.filter-btn:hover {
    background: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.navigation {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

main {
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

#poem-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}

.poem-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--paragraph-font);
    transition: all 0.3s ease-in-out;
}

.image-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

.image-card figcaption {
    margin-top: 0.5rem;
    font-size: 0.3rem;
    text-align: center;
    font-family: var(--heading-font);
    transition: all 0.3s ease-in-out;
}

footer {
    margin-top: -1rem;
    background-color: var(--secondary-color);
    color: var(--nav-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

footer p {
    font-size: 1rem;
    padding-top: 1rem;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 937px) {
    header {
        background-color: var(--tertiary-color);
    }

    header h1 {
        display: none;
    }

    button.menu {
        display: flex;
        padding: 0.5rem;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        position: absolute;
        right: 10px;
    }

    .rabbit-card img {
        width: 100%;
        height: auto;
        display: block;
    }

    button.menu::before {
        content: "☰";
        font-size: large;
        color: red;
        margin-right: 1rem;
    }

    button.menu.open::before {
        content: "✖";
        font-size: large;
        color: red;
    }

    .navigation {
        display: none;
    }

    .navigation.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation.open ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #poem-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    header {
        background-color: var(--tertiary-color);
    }

    #poem-cards-container {
        grid-template-columns: 1fr;
    }

    #poem-cards-container img {
        width: 100%;
    }
}