@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;1,500&display=swap');

:root {
    --primary-color: #ebe0d8;
    --secondary-color: #e4a150;
    --tertiary-color: #f4e699;
    --accent1-color: #000000;
    --accent2-color: #d40e0e;
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Dancing Script", cursive;
    --nav-color: black;
    --nav-hover-link-color: #8e3904;
    --nav-hover-background-color: #fbb198;
    --nav-visited-link-color: #9e0570;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    min-height: 10rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-image {
    width: 20.5em;
    height: 23.75em;
    max-width: 100%;
    margin: 2rem 3rem -7em 4rem;
}

.header-text {
    font-size: 1.9rem;
    margin-bottom: -5rem;
    font-family: var(--heading-font);
}

nav ul {
    list-style: none;
    margin: 0 auto;
    margin-top: -1rem;
    font-family: var(--heading-font);
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--nav-color);
    white-space: nowrap;
    font-size: 1.05rem;

}

nav a:hover {
    background: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-weight: bold;
}

footer {
    margin-top: -1rem;
    background-color: var(--secondary-color);
    color: var(--nav-color);
    text-align: center;
}

footer p {
    font-size: 1rem;
    padding-top: 1rem;
}

button.menu {
    display: none;
}

button.filter-btn,
a.filter-btn {
    text-decoration: none;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

a.button.filter-btn:hover {
    background: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-weight: bold;
}

main {
    background-color: var(--primary-color);
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

p {
    font-family: var(--paragraph-font);
    font-size: 2rem;
}

#poem-cards-container,
#image-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.poem-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 0.5rem;
    font-family: var(--paragraph-font);
}

.image-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-card figcaption {
    margin-top: 0.5rem;
    font-size: 0.3rem;
    text-align: center;
    font-family: var(--heading-font);
}

/*poem card in row one positioned first */
.poem-card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-top: 5rem;
    margin-left: 3.3rem;
    text-align: center;
}

/* image card in row one positioned second*/
.image-card:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    margin: 0 auto;
}

/* image card in row two positioned first */
.image-card:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 75%;
}

/* poem card in second row positioned second */
.poem-card:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    margin: 0 0 0 9rem;
    text-align: right;
}

/* image card in third row positioned first */
.image-card:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    margin: 0 auto;
}

/* poem card in third row positioned second */
.poem-card:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0 auto;
}

/* poem card in fourth row positioned first */
.image-card:nth-child(7) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

#random-trivia {
    font-size: 0.8rem;
    font-family: var(--heading-font);
    margin-right: 1.5rem;
    text-align: right;
    font-style: italic;
    font-weight: lighter;
}

a:-webkit-any-link {
    color: var(--nav-color);
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 937px) {
    header {
        height: 5rem;
        background-color: var(--tertiary-color);
    }

    header h1 {
        font-size: 1.5rem;
    }

    .poem-card p {
        font-size: 1rem;
        font-family: var(--paragraph-font);
    }

    .header-image,
    h1 {
        display: none;
    }

    button.menu {
        display: flex;
        padding: 0.5rem;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1rem;
        position: absolute;
        right: 10px;
    }

    .rabbit-card img {
        width: 100%;
        height: auto;
        display: block;
    }

    button.menu {
        display: flex;
        padding: 0.5rem;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1rem;
        position: absolute;
        right: 10px;
    }

    button.menu::before {
        content: "☰";
        font-size: large;
        color: red;
        margin-right: 1rem;
    }

    button.menu.open::before {
        content: "✖";
        font-size: large;
        color: red;
    }

    .navigation {
        display: none;
        flex-direction: center;
        align-items: center;
        width: 100%;
        /* Make the dropdown fill the width of the header */
    }

    .navigation.open {
        display: flex;
    }

    .navigation.open ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    figcaption {
        margin-top: 0.5rem;
        font-size: 0.1rem;
        color: var(--accent1-color);
        text-align: center;
    }

    #rabbit-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    body,
    .poem-card p,
    nav a,
    footer p {
        font-size: 0.8rem;
    }

    .poem-card,
    .image-card {
        grid-column: 1 / -1;
        margin: 0 auto;
    }

    .image-card img {
        width: 100%;
        height: auto;
    }

    #rabbit-cards-container {
        grid-template-columns: 1fr;
    }

    p#random-trivia {
        display: none;
    }
}

@media (min-width: 937px) {
    button.menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    nav a:hover {
        background: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
    }

    nav ul a {
        margin-top: 1rem;
        text-decoration: none;
        display: block;
        margin-right: 1rem;
    }
}