@media (max-width: 600px) {
    header {
        background-color: var(--tertiary-color);
    }

    img.header-image {
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #poem-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        /* Add gap between items */
    }

    .image-card {
        grid-column: auto !important;
        grid-row: auto !important;
        margin: 0 auto;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .image-card img {
        width: 100%;
        height: auto;
        object-fit: contain;
        transition: all 0.3s ease-in-out;
    }

    .image-card:nth-child(2) {
        margin-top: 3rem;
        transition: all 0.3s ease-in-out;
        margin-left: 0;
        margin-right: 0;
        transition: all 0.3s ease-in-out;
    }

    footer {
        display: block !important;
        visibility: visible !important;
        width: 100%;
        margin-top: 1rem;
        background-color: var(--tertiary-color);
        color: var(--nav-color);
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    footer p {
        font-size: 1rem;
        padding-top: 1rem;
        transition: all 0.3s ease-in-out;
    }
}
