:root {
    --primary-color: #ebe0d8;
    --secondary-color: #e4a150;
    --tertiary-color: #f4e699;
    --accent1-color: #000000;
    --accent2-color: #d40e0e;
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Dancing Script", cursive;
    --nav-color: black;
    --nav-hover-link-color: #8e3904;
    --nav-hover-background-color: #fbb198;
    --nav-visited-link-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    max-width: 1200px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 450;
    background: var(--primary-color);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    background: var(--tertiary-color);
    box-sizing: border-box;
    background: rgb(245, 210, 188);
    padding: 1.5rem;
    grid-area: header;
    width: 80%;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
    background: var(--tertiary-color);
}

nav {
    box-sizing: border-box;
    background-color: rgb(254, 119, 137);
    padding: 1rem;
    max-width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.3rem;
    text-decoration: none;
}

nav a:hover {
    border: 3px solid #9512a3;
    border-radius: 5px;
    text-decoration: none;
    color: #e8fd60;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .8rem;
    width: 100%;
    background: rgb(199, 228, 228);
    padding: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    grid-area: main;
}

.rabbit-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.rabbit-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

aside {
    background: rgb(220, 245, 227);
    padding: 1rem;
    box-sizing: border-box;
}

footer {
    width: 100%;
    background: rgb(210, 202, 191);
    padding: 0rem;
    text-align: center;
    grid-area: footer;
}