/* body {
    font-family: Verdana, sans-serif;
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

header {
    background: rgb(245, 210, 188);
    padding: 2rem;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

main {
    background: rgb(180, 215, 215);
    padding: 1rem;
}

aside {
    background: rgb(220, 245, 227);
    padding: 1rem;
}

footer {
    background: rgb(210, 202, 191);
    padding: 5rem;
    text-align: left;
    grid-area: footer;
}

.header-bar {
    background: rgb(230, 230, 230);
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.header-bar ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.header-bar ul li {
    margin: 0;
}

.header-bar ul li a {
    text-decoration: none;
} */