@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;1,500&display=swap');

:root {
    --primary-color: #ebe0d8;
    /* Almond */
    --secondary-color: #e4b182;
    /* Desert Sand */
    --accent1-color: #000000;
    --accent2-color: #70558e;
    --heading-font: "Comic Neue", sans-serif;
    --paragraph-font: "Poppins", sans-serif;
    --nav-color: black;
    --nav-hover-link-color: #9e0570;
    --nav-hover-background-color: #a76092;
    --nav-visited-link-color: #4b2e2a;
    /* Dark Brown */
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

header {
    background-color: var(--secondary-color);
    padding: 20px;
}

p {
    padding: 5px;
}

nav {
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    display: flex;
}

nav a,
nav a:link,
nav a:visited {
    color: var(--nav-color);
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:visited {
    color: var(--nav-visited-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: bold;
}

img {
    max-height: 300px;
    width: auto;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}