@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;1,500&display=swap');

:root {
    --primary-color: SaddleBrown;
    --secondary-color: #FFD700;
    /* Peach */
    --accent1-color: #000000;
    /* Black */
    --accent2-color: #0b6640;
    /* Salmon */
    --heading-font: "Comic Neue", sans-serif;
    /* Use DM Sans for headings */
    --paragraph-font: "Poppins", sans-serif;
    /* Use Verdana for body text */
    --nav-background-color: #da9f41;
    /* Peach */
    --nav-link-color: #000000;
    /* Black */
    --nav-hover-link-color: #da6a41;
    /* Salmon */
    --nav-hover-background-color: #981d73;
    /* Purple */
}

body {
    font-family: var(--secondary-font);
    max-width: 960px;
    margin: auto;
    /* Center the content */
    padding: 20px;
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: #000;
}

header {
    background-color: #da9f41;
    padding: 20px;
}

p {
    padding: 25px;
    color: #000000;
}

nav {
    background-color: #da9f41;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    display: flex;
}

nav a,
nav a:link,
nav a:visited {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    /* Added padding for better spacing */
}

nav a:hover {
    color: #000000;
    background-color: var(--nav-hover-background-color);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}