@media (min-width: 937px) {

    header,
    footer {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: rgb(93, 119, 105);
        color: black;
        padding: 0.5rem;
        margin: 1rem auto;
    }

    button.menu {
        display: none;
        color: black;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 1.8rem;
        margin-left: 1rem;
    }

    nav a:hover {
        background: rgb(46, 84, 107);
        color: yellow;
    }

    nav ul a {
        margin-top: 2rem;
        padding: 0.5rem;
        text-decoration: none;
        display: block;
        color: black;
        margin-right: 1rem;
    }

    header,
    footer p {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0.5rem;
    }

}