.hero img {
    width: 100%;
    height: auto;
}


/* CSS
Important: You are responsible to implement good design principles.

Select a color schema that supports the country or place.

The typography choice is up to you.
The minimum styling requirements include:
Matching the layouts shown in the wireframes
Using a media query or queries.
Using global CSS variables.
Using a pseudo element for the weather icon in the large view located after the heading "Weather".*/