body {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    background: #00247D;
    text-align: center;
    margin-bottom: 5px;
}

header h1 {
    margin: 0;
    padding: 0.8rem;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-weight: 150;
    color: rgb(237, 214, 214);
}

main {
    flex: 1;
    /* Corrected syntax */
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.data-container {
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    max-width: 245px;
    text-align: right;
    padding: 0.5rem;
    color: black;
}

.data-container h2 {
    margin: 0;
    padding: 0.3rem;
    text-align: left;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.6);
}

.data-container ul {
    padding: 0;
    list-style-type: none;
    color: black;
    font-weight: 500;
}

li {
    padding: 0.3rem;
    font-weight: 500;
}

aside.card.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: rgba(255, 255, 255, 0.6);
    margin: 10px;
    margin-bottom: 15px;
    max-width: 600px;
    text-align: center;
    padding: .8rem;
    color: black;
    font-weight: 500;
}

aside.card.weather h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    text-align: center;
    color: black;
    font-weight: 600;
    padding: 0.3rem;
    width: 100%;
}

aside.card.weather p {
    margin: 0;
    padding: 0.3rem;
}

.weather-icon {
    margin-left: 0.5rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 550;
    font-family: 'Merriweather', sans-serif;
    color: black;
    background: #CF142B;
    padding: 0.5rem;
}

footer p {
    margin: 0;
    margin-bottom: 5px;
}

@media (min-width: 601px) {
    .weather-icon {
        display: inline;
    }
}

@media (max-width: 600px) {
    div.overlay {
        flex-direction: column;
        align-items: center;
        position: static;
        width: 100%;
        background: #fa8e41;
    }

    .data-container,
    aside.card.weather {
        position: static;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .data-container {
        margin-top: 1rem;
        color: black;
    }

    .data-container h2 {
        text-align: center;
    }

    aside.card.weather {
        margin-top: 1rem;
        color: black;
    }

    footer {
        position: static;
        width: 100%;
        margin-top: 1rem;
    }

    .weather-icon {
        display: block;
        margin-left: 0;
        margin-top: 0.5rem;
    }
}