.hero img {
    width: 100%;
    height: auto;
}


/* CSS
Important: You are responsible to implement good design principles of alignment, color contrast, proximity, repetition, white space, and general usability in all of your work.

Select a color schema that supports the country or place
For example, the provided screenshots above use the official colors of the flag of Madagascar.

The typography choice is up to you.
The minimum styling requirements include:
Matching the layouts shown in the wireframes
Using a media query or queries.
Using global CSS variables.
Using a pseudo element for the weather icon in the large view located after the heading "Weather".*/