@media screen and (min-width: 640px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(191, 240, 213);
        color: black;
        padding: 1rem;
    }

    h1 {
        margin: 0;
        padding: 10px;
        white-space: nowrap;
    }
}

@media (min-width: 937px) {
    header {
        background-color: rgb(191, 240, 213);
    }

    .nav-menu.show ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button.menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        display: flex;
        text-align: right;
    }

    .stuff {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 0 auto;
        justify-items: center;
        width: 100%;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        color: rgb(252, 172, 23);
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: .5rem;
        margin: 0;
    }
}



/* this file will be used to style the page for larger viewports. You will use CSS media queries to apply the appropriate CSS file based upon the viewport width. */