/* temples.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(211, 231, 231);
}
nav a {
    display: block;
    color: black;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}
nav a:hover {
    background: rgb(252, 129, 211);
    color: white;
}
div.menu {
    text-align: right;
    padding: 0.5rem;
}
.menu::before {
    content: "☰";
    font-size: large;
    cursor: pointer;
    color: black;
}
.open li {
    display: block;
}
.menu.open::before {
    content: "✖";
    font-size: large;
}
main {
    max-width: 900px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    background: rgb(201, 231, 231);
    margin: 0 auto;
    justify-content: center;
}
h2 {
    color: rgb(253, 175, 73);
    text-align: center;
    padding: 0.5rem;
    font-size: 3.5rem;
}
img {
    margin: 0.5rem;
    padding: 0.5rem;
}
figcaption {
    text-align: center;
    font-style: italic;
}
footer {
    grid-area: footer;
    width: 100%;
    background: rgb(191, 240, 213);
    padding: 0rem;
    text-align: center;
}
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    main {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}

/* {
    .before-nav {
        display: block;
    }
    #nav-menu {
        display: none;
   }
    #nav-menu.show {
        display: flex;
        flex-direction: column;
    }
} */
/* header-bar {
    background: rgb(230, 230, 230);
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
} */
 /* .hamburger {
    display: none;
    font-size: 2.5rem;
    background: none;
    border: black;
    cursor: pointer;
} */
 
/* header {
    background: rgb(191, 240, 213);
    color: black;
    padding: 20px;
}
/* header ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
} */
/* header ul li {
    margin: 0;
}
header ul li a {
    text-decoration: none;
}
header nav li{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
} */