* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

nav a {
    display: block;
    color: black;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    background: rgb(253, 143, 7);
    color: yellow;
}

div.menu {
    text-align: left;
    padding: 0.5rem;
    cursor: pointer;
    display: none;
}

div.menu::before {
    content: "☰";
    font-size: large;
    cursor: pointer;
    color: black;
}

div.menu.open::before {
    content: "✖";
    font-size: large;
}

div.nav-menu.show {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 937px) {
    .menu {
        display: block;
    }

    div.nav-menu.show {
        display: flex;
        flex-direction: row;
    }
}

main {
    max-width: 90%;
    margin: 1rem auto;
    padding: 10px;
    background-color: #d4f3f5;
    display: grid;
    gap: .5rem;
    justify-content: center;
}
/* .card {
    text-align: center;
} */
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    width: 100%;
}

figure {
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    max-width: 100%;
}

@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1670px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}