/* temples-large.css */

@media screen and (min-width: 640px) {
    header,
    main,
    footer {
        max-width: 90%;
        margin: 1rem auto;
        padding: 10px;
    }
    header {
        background-color: rgb(191, 240, 213);
        display: flex;
        justify-content: space-between;
        color: black;
    }
    h1 {
        padding: 10px;
    }
    header nav {
        width: 70vw;
        padding: 10px;
    }
    header nav li {
        display: block;
    }
    header nav ul {
        display: flex;
    }
    header nav ul li {
        flex: 1 1 100%
    }
    #menu {
        display: none;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 40px;
        background-color: #d4f3f5;
    }
    main div.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        width: 250px;
        padding: 0.5rem;
    }
    footer {
        background-color: rgb(191, 240, 213);
    }
}

/* @media screen and (min-width: 1640px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    main {
        grid-template-columns: 1fr;
    }
} */