@media (min-width: 937px) {
    header {
        max-width: 90%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(191, 240, 213);
        color: black;
        padding: 1rem;
    }

    h1 {
        margin: 0;
        padding: 10px;
        white-space: nowrap;
    }

    footer {
        background-color: rgb(191, 240, 213);
        display: flex;
        justify-content: space-between;
        color: black;
        padding: 1rem;
    }

    main,
    footer {
        max-width: 90%;
        margin: 1rem auto;
        padding: 10px;
    }

    .nav-menu.show ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button.menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        display: flex;
        text-align: right;
    }

    .stuff {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 0 auto;
        justify-items: center;
        width: 100%;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        color: black;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: .5rem;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .stuff {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1670px) {
    .stuff {
        grid-template-columns: repeat(3, 1fr);
    }
}