* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-family: Verdana, Verdana, sans-serif;
}

h1 {
    font-size: 1.5rem;
}

main {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #dadfad;
    display: flex;
    flex-direction: column;
}

input,
button {
    padding: .7rem;
    margin: .5rem;
}

button {
    margin: 1.5.rem;
}

.delete {
    width: fit-content;
}

.input {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.list {
    padding: 0.7rem;
}

ul {
    margin: 1rem;
    list-style: none;
}

li {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

li button {
    background-color: transparent;
    border: none;
    color: lightyellow;
    cursor: pointer;
    margin: -.5rem;
}

li button:hover {
    color: rgb(239, 209, 127);
}

footer {
    padding: 1rem;
    background-color: #dadfad;
    text-align: center;
    background-color: white;
    font-size: 0.8rem;
}

@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 450px;
    }
}
