body {
    font-family: "Roboto", sans-serif;
}

main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #141414;
    padding: 1rem;
    background-color: #bbe1f5;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem auto;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #f5f5f5;
}

header {
    background-color: black;
    color: rgb(231, 231, 250);
    padding: 1rem;
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid
}